<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Weather
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Weather</ion-title>
    </ion-toolbar>
  </ion-header>
      <h1 *ngIf="listWeather"> {{listWeather.name}} </h1>
      <h2 *ngIf="listWeather"> {{celciusTemp}}</h2>
      <h3 *ngIf="listWeather"> {{listWeather.weather[0].main}} </h3>
      <h4 *ngIf="listWeather"> {{listWeather.weather[0].description}} </h4>
  <app-explore-container name="Check the weather here!"></app-explore-container>
</ion-content>
